<%= form_tag('mailing_list/subscribe', {:remote=>true, :class=>"mail-form", :id=>'mail-form'}) do %>
    <p>The mailing list is a great way to stay in touch and follow project updates and releases by KO-OP Mode. We promise to never spam or share your information.</p>
    <div class="field">
        <%= label_tag :first_name, "First Name:", :class => 'label' %>
        <%= text_field_tag(:first_name, nil, :class => 'textfield') %>
    </div>

    <div class="field">
        <%= label_tag :last_name, "Last Name:", :class => 'label' %>
        <%= text_field_tag(:last_name, nil, :class => 'textfield') %>
    </div>

    <div class="field">
        <%= label_tag :email, "Email:", :class => 'label' %>
        <%= text_field_tag(:email, nil, :class => 'textfield') %>
        <span style="color:red;">*</span>required
    </div>

    <div id="response">

    </div>
    <%= submit_tag("Subscribe") %>
<% end %>
