<% provide(:title, 'KO-OP Mode | Home') %>
<!-- KO-OP -->
<div class="ko-op">
    <div class="container">
        <!-- Phone -->
        <div class="row top-med-spacer visible-phone">
            <div class="span12 center">
                <div class="row">
                    <div class="span4 offset4 bottom-small-spacer" >
                        <%= image_tag("ko-op.png", :class=>"bottom-small-spacer", :width=>"140px") %>
                        <p>KO-OP Mode is a new studio based out of Montreal. Stay in touch with us!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="span12 bottom-small-spacer">
                        <a href="http://www.twitter.com/koopmode" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Twitter-phone']);"><%= image_tag("twitter.png", :width=>"48px", :style=>"margin-right:8px") %></a>
                        <a href="https://www.facebook.com/koopmode" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Facebook-phone']);"><%= image_tag("fb.png", :width=>"40px", :style=>"margin-left:8px;margin-right:8px") %></a>
                        <a href="mailto:contact@ko-opmode.com" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Mail-phone']);"><%= image_tag("mail.png", :width=>"40px", :style=>"margin-left:8px") %></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Desktop & Tablet -->
        <div class="row top-small-spacer hidden-phone">
            <div class="span9 bottom-small-spacer">
                <%= image_tag("ko-op.png", :style=>"margin-left:-10px", :width=>"112px") %>
            </div>

            <div class="span3 bottom-small-spacer" style="margin-top:10px;">
                <a href="http://www.twitter.com/koopmode" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Twitter']);"><%= image_tag("twitter.png", :style=>"margin-right:0px", :width=>"48px") %></a>
                <a href="https://www.facebook.com/koopmode" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Facebook']);"><%= image_tag("fb.png", :style=>"margin-left:14px;margin-right:0px", :width=>"40px") %></a>
                <a href="mailto:contact@ko-opmode.com" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Mail']);"><%= image_tag("mail.png", :style=>"margin-left:14px", :width=>"40px") %></a>
            </div>
        </div>
    </div>
</div>

<!-- Red Rover -->
<div class="red-rover">
    <div class="container project-container" style="margin-top:-80px">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <a href="http://www.flyredrover.com" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'RedRover']);">
                        <div class="span5 logo bottom-small-spacer">
                            <%= image_tag("redrover.png", :width=>"380px") %>
                            <p style="text-decoration:none; padding-top:20px;" class="none">Red Rover is an experimental game about space exploration and the human voyage to Mars.</p>
                        </div>
                    </a>
                    <div class="span5 offset2">
                        <iframe width="100%" height="275" src="http://player.vimeo.com/video/47953922?byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skipping Stones -->
<div class="skipping-stones">
    <div class="container project-container">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <a href="http://www.skippingstonesgame.com">
                    <div class="span5 logo bottom-small-spacer">
                        <%= image_tag("skippingstones.png", :width=>"380px") %>
                        <p style="text-decoration:none; padding-top:20px;" class="none">Skipping Stones is a sound and poetry toy about loss and self reflection. Throw stones and create music.</p>
                    </div>
                    </a>
                    <div class="span5 offset2">
                        <iframe width="100%" height="275" src="http://www.youtube.com/embed/_NnH1MesbKg" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="social">
    <div class="container project-container">
        <div class="row" style="margin-top: 45px">
            <div class="span3 small">
                <h3>We Are</h3>
                <p><a href="http://www.pressr1.com">Saleem Dabbous</a></br><a class="none" href="http://twitter.com/Seemo">@seemo</a></p>
                <p><a href="http://www.newton64.ca/blog/">Nick Rudzicz</a></br><a class="none" href="http://twitter.com/newton64">@newton64</a></p>
                <p><a href="http://bronsonzgeb.blogspot.ca/">Bronson Zgeb</a></br><a class="none" href="http://twitter.com/bzgeb">@bzgeb</a></p>
                <p><a href="https://www.facebook.com/pages/Mars-Module/316021549028">Mars Module</a></br><a class="none" href="http://twitter.com/marsmodule">@marsmodule</a></p>
            </div>
    
            <div class="span3 small">
                <h3>Our Friends</h3>
                <p><a href="http://fractgame.com">FRACT OSC</a></p>
                <p><a href="http://www.sauropodstudio.com">Sauropod Studio</a></p>
                <p><a href="http://www.joachimdespland.com">Joachim Despland</a></p>
                <p><a href="http://narwolf.tumblr.com">G.P. Lackey</a></p>
                <p><a href="https://twitter.com/benthorizon">Stephen Ascher</a></p>
            </div>

            <div class="span3 small">
                <h3>Partners</h3>
                <p><a href="http://mrgs.ca">Mount Royal Game Society</a> - Local independent game developers</p>
                <p><a href="http://www.tag.hexagram.ca">Technoculture Art and Games</a> - Research centre in games</p>
            </div>
    
            <div class="span3 small">
                <h3>About Us</h3>
                <p>KO-OP Mode is a new bedroom studio based out of Montreal.  We like cats, nebulas, and interactive audio experiments.</p>
                <p><a href="http://presskit.ko-opmode.com">Presskit</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div span="span3" style="text-align:right; margin-top:28px">
                <p>Copyright 2012 KO-OP Mode inc.</p>
            </div>
        </div>
    </div>
</div>
