<% provide(:title, 'Home') %>
<!-- KO-OP -->
<div class="ko-op">
    <div class="container">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <div class="span5" >
                        <%= image_tag("ko-op.png", :class=>"bottom-small-spacer") %>
                        <p>KO-OP Mode is a new studio based out of Montreal.</p>
                    </div>
                    <div class="span5 offset2">
                        <%= image_tag("twitter.png", :class=>"bottom-small-spacer") %>
                        <%= image_tag("fb.png", :class=>"bottom-small-spacer") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Red Rover -->
<div class="red-rover">
    <div class="container">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <div class="span5 logo">
                        <%= image_tag("redrover.png", :class=>"bottom-small-spacer") %>
                        <p>Red Rover is an experimental first person adventure game about human achievement and the mission to Mars.</p>
                    </div>
                    <div class="span5 offset2">
                        <iframe width="380" height="275" src="http://www.youtube.com/embed/4y5ppf9NUDM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skipping Stones -->
<div class="skipping-stones">
    <div class="container">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <div class="span5 logo">
                        <%= image_tag("skippingstones.png", :class=>"bottom-small-spacer") %>
                        <p>Skipping Stones is a sound and poety toy about loss and self reflection. Throw stones and create music.</p>
                    </div>
                    <div class="span5 offset2">
                        <%= image_tag("stones.png") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
