<% provide(:title, 'KO-OP Mode | Home') %>
<!-- KO-OP -->
<div class="ko-op">
    <div class="container">
        <div class="row top-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <!-- Desktop -->
                    <div class="span4 offset4 hidden-phone hidden-tablet" >
                        <%= image_tag("ko-op.png", :class=>"bottom-small-spacer", :width=>"140px") %>
                        <p>KO-OP Mode is a new studio based out of Montreal. Stay in touch with us!</p>
                    </div>
                    <!-- Phone & Tablet -->
                    <div class="span4 offset4 visible-phone visible-tablet" >
                        <%= image_tag("ko-op.png", :class=>"bottom-small-spacer", :width=>"140px") %>
                        <p>KO-OP Mode is a new studio based out of Montreal. Stay in touch with us!</p>
                    </div>

                </div>
                <div class="row">
                    <div class="span12 hidden-phone">
                        <a href="http://www.twitter.com/koopmode"><%= image_tag("twitter.png", :class=>"bottom-small-spacer", :width=>"48px", :style=>"margin-right:8px") %></a>
                        <a href="https://www.facebook.com/koopmode"><%= image_tag("fb.png", :class=>"bottom-small-spacer", :width=>"48px", :style=>"margin-left:8px") %></a>
                    </div>
                    <div class="span12 visible-phone">
                        <%= image_tag("twitter.png", :class=>"bottom-small-spacer", :width=>"48px", :style=>"margin-right:8px") %>
                        <%= image_tag("fb.png", :class=>"bottom-small-spacer", :width=>"48px", :style=>"margin-left:8px") %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Red Rover -->
<div class="red-rover">
    <div class="container project-container">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <div class="span12 logo">
                        <%= image_tag("redrover.png", :class=>"bottom-small-spacer") %>
                        <p>Red Rover is an experimental first person adventure game about human achievement and the mission to Mars.</p>
                    </div>
                    <!--<div class="span5 offset2">
                        <iframe width="100%" height="275" src="http://www.youtube.com/embed/4y5ppf9NUDM" frameborder="0" allowfullscreen></iframe>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skipping Stones -->
<div class="skipping-stones">
    <div class="container project-container">
        <div class="row top-med-spacer bottom-med-spacer">
            <div class="span12 center">
                <div class="row">
                    <div class="span5 logo">
                        <%= image_tag("skippingstones.png", :class=>"bottom-small-spacer") %>
                        <p>Skipping Stones is a sound and poety toy about loss and self reflection. Throw stones and create music.</p>
                    </div>
                    <div class="span5 offset2">
                        <%= image_tag("stones.png") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
