<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>

  <b>Image:</b>
  <%= image_tag(@project.thumbnail.url) %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Delete', project_path(@project), :method => :delete %> |
<%= link_to 'Back', projects_path %>
